.icon-funtion{
    color: var(--text-color);
    .svg-inline--fa {
        margin: 5px;
        cursor: pointer;
    }
    .delete{
        color: red;
    }
}
.wait{
    color: orange;
    background-color: rgb(240, 240, 191);
}
.refuse{
    color: red;
    background-color: rgb(229, 147, 147);
}
.result-plus{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px 0 10px;

    button{
        color: var(--color-text);
        cursor: pointer;
    }
}
.icon-add{
    padding: 0 15px;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-modal{
    width: 1100px;
    height: calc( 100vh - 50px );
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
}
.infor{
    color: var(--color-text);
}
.result-modal{
    margin: 15px;
}

.wrap-modal{
    display: flex;
    flex-wrap: wrap;
}
.modal-btn{
    display: flex;
    justify-content: flex-end;
}
.confirm-modal{
    color: #fff;
    background-color: #049c06;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    }