.next-page{
    height: 37.88px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;

}
.page{
    width: 47.7px !important;
}
