.icon-lookup{
    width: 85px;
    color: var(--color-text);
    border-radius: 10px;
    background-color: #d4f3d4;

    .svg-inline--fa{
        width: 5px;
        padding-left: 5px;
        
    }
}
.border-input{
    border: none;
}