.permission{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 4px 0px 3px 2px #9e9c9c;
    top: 110px;
    display: flex;
    
}
.search-permission{
    height: 33.5px;
    width: 250px;
    margin: 15px 0 0 15px;


    a{
        color: var(--text-color);
        padding: 13px;
        &.selected {
            color: var(--color-text);
            border-bottom: 5px solid var(--color-text);
          }
    }

    
}