.sidebar{
    flex-grow: 7;
    display: flex;
    
}
.sidebar-search{
    margin: 20px 15px 15px 15px;
    color: var(--text-color);
    font-size: 17px;
    cursor: pointer;
    height: 66%;
    text-align: center;
    width: 10%;

    &.selected {
        color: var(--color-text);
        border-bottom: 5px solid var(--color-text);
      }


}

