.btns{
    width: 233px;
    height: 118px;
    align-items: center;
    display: flex;
}
.btn{
    width: 90px;
    margin: 0px 7px;
    height: 40px;
    border-radius: 7px;
}

.search-btn{
    color: #fff;
    background-color: #049c06;
    cursor: pointer;
}
.reset-btn{
    color: var(--color-text);
    background-color: #d4f3d4;
    cursor: pointer;
}
