.w-25{
    width: 33%;
}
.file-modal{

    width: 70%;
}
.file-btn{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.dow-btn{
    width: 130px;
    height: 40px;
    background-color: #049c06;
    color: #fff;
    border-radius: 10px;
    margin-left: 10px;
     

    .svg-inline--fa{
        margin: 0 7px;
    }
}
.select-btn{
    width: 100px;
    height: 30px;
    background-color: #049c06;
    color: #fff;
     

    .svg-inline--fa{
        margin: 0 7px;
    }
}
.contains{
    min-height: 500px;

    .lookup-res{
        max-height: 25px;
    }
}